html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading {
    text-align: center;
    margin: 30px auto;
    letter-spacing: 2px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img{
    min-height: 400px;
    min-width: 200px;
    height: 50%;
    width: 50%;
    margin: 20px;
    padding: 20px;
}

.controls{
    display: flex;
    justify-content: space-around;
}

.controls .action-btn{
    padding: 10px;
    color: #fff;
    background-color: #000;
    border: none;
    min-width: 100px;
    cursor: pointer;
    margin: 0px 30px;
}

.hide-from-view {
    /* Hides element from viewport */
    position: absolute;
    right: 200%;
}

/* For Scrollbar code taken from --> https://css-tricks.com/examples/WebKitScrollbars/ */

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(105, 105, 105, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(97, 96, 96, 0.4);
}